/.astro/
/.codacy/
/.gemini/
/.github/instructions/
/.nx/
/bun.lockb
/czrc
/eslint.config.mjs
/prettier.config.mjs

**/dist/
**/node_modules/
**/*LICENSE*
**/*lock.*
**/*.tsbuildinfo
**/*.example
**/*.old
**/*.bak
**/*.log
**/.DS_Store
**/Thumbs.db
**/*.png
**/*.txt
